Package: rightclick-dbgsym
Source: rightclick
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 17
Depends: rightclick (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for rightclick
Build-Ids: 4a29ee88e98483a366457b6098edc4afece6ed1b
